In [59]:
import pandas as pd
import numpy as np
from sklearn import ensemble, model_selection, decomposition, preprocessing
from matplotlib import pyplot as plt

In [94]:
data = pd.read_csv('./data/train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [95]:
data.shape

(891, 12)

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [97]:
# 一是Cabin缺失值太多  二是是否生还跟舱门无关 直接删掉 
data.drop(['Cabin'], axis=1, inplace=True)

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.6+ KB

In [99]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [100]:
data_ = data.copy()

In [106]:
# data['Embarked'].dropna(inplace=True)
# data.loc[:, 'Embarked'] = data['Embarked']
data2_ = data_.copy()

In [115]:
# data_['Embarked'].isnull().index()
data_[data_['Embarked'].isnull()].index

Int64Index([61, 829], dtype='int64')

In [117]:
# data_.drop(index=data_[data_['Embarked'].isnull()].index())
index = data_[data_['Embarked'].isnull()].index

In [118]:
data_.drop(index=index, inplace=True)

In [119]:
data_.isnull().sum()
# data['Embarked'].isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64

In [120]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    889 non-null int64
Survived       889 non-null int64
Pclass         889 non-null int64
Name           889 non-null object
Sex            889 non-null object
Age            712 non-null float64
SibSp          889 non-null int64
Parch          889 non-null int64
Ticket         889 non-null object
Fare           889 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.3+ KB

In [92]:
ser = pd.Series([1., 2., np.nan])
ser

0    1.0
1    2.0
2    NaN
dtype: float64

In [93]:
ser.dropna()

0    1.0
1    2.0
dtype: float64

In [38]:
data.describe([0.01, 0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
PassengerId,891.0,446.000000,257.353842,1.00,9.9,45.500,90.00,223.5000,446.0000,668.5,802.0000,882.10000,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0,0.000,0.00,0.0000,0.0000,1.0,1.0000,1.00000,1.0000
Pclass,891.0,2.308642,0.836071,1.00,1.0,1.000,1.00,2.0000,3.0000,3.0,3.0000,3.00000,3.0000
Age,714.0,29.699118,14.526497,0.42,1.0,4.000,14.00,20.1250,28.0000,38.0,50.0000,65.87000,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0,0.000,0.00,0.0000,0.0000,1.0,1.0000,5.00000,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0,0.000,0.00,0.0000,0.0000,0.0,2.0000,4.00000,6.0000
Fare,891.0,32.204208,49.693429,0.00,0.0,7.225,7.55,7.9104,14.4542,31.0,77.9583,249.00622,512.3292

In [15]:
# 先分训练集和测试集 
X = data.loc[:, data.columns != 'Survived']
y = data.loc[:, 'Survived']
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=66)

In [30]:
for i in [X_train, X_test, y_train, y_test]:
    i.index = range(i.shape[0])

In [31]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,595,2,"Chapman, Mr. John Henry",male,37.000000,1,0,SC/AH 29037,26.00,S
1,625,3,"Bowen, Mr. David John ""Dai""",male,21.000000,0,0,54636,16.10,S
2,342,1,"Fortune, Miss. Alice Elizabeth",female,24.000000,3,2,19950,263.00,S
3,793,3,"Sage, Miss. Stella Anna",female,29.748858,8,2,CA. 2343,69.55,S
4,768,3,"Mangan, Miss. Mary",female,30.500000,0,0,364850,7.75,Q

In [17]:
# 使用训练集age的平均值 填充训练集和测试集
X_train.isnull().mean()

PassengerId    0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.184591
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Embarked       0.001605
dtype: float64

In [19]:
# 训练集测试集年龄填充缺失值 值已经填充完毕 只是有警告 暂且不去管他
X_train['Age'] = X_train['Age'].fillna(X_train['Age'].mean())
X_test['Age'] = X_test['Age'].fillna(X_train['Age'].mean())

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
X_train.isnull().mean()

PassengerId    0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.000000
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Embarked       0.001605
dtype: float64

In [21]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 594 to 20
Data columns (total 10 columns):
PassengerId    623 non-null int64
Pclass         623 non-null int64
Name           623 non-null object
Sex            623 non-null object
Age            623 non-null float64
SibSp          623 non-null int64
Parch          623 non-null int64
Ticket         623 non-null object
Fare           623 non-null float64
Embarked       622 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 53.5+ KB

In [22]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268 entries, 28 to 430
Data columns (total 10 columns):
PassengerId    268 non-null int64
Pclass         268 non-null int64
Name           268 non-null object
Sex            268 non-null object
Age            268 non-null float64
SibSp          268 non-null int64
Parch          268 non-null int64
Ticket         268 non-null object
Fare           268 non-null float64
Embarked       267 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 23.0+ KB

In [46]:
# 删掉数据为null的元素
# X_test['Embarked'].isnull().sum()  # 1
# X_train['Embarked'].isnull().sum()  # 1

train_index = X_train[X_train['Embarked'].isnull()].index
test_index = X_test[X_test['Embarked'].isnull()].index

X_train = X_train.drop(index=train_index)
y_train = y_train.drop(index=train_index)

X_test = X_test.drop(index=test_index)
y_test = y_test.drop(index=test_index)

In [48]:
X_train.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [49]:
X_test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [50]:
train_index

Int64Index([491], dtype='int64')

In [57]:
y[train_index]

491    0
Name: Survived, dtype: int64