In [1]:
import pandas as pd
import numpy as np
from sklearn import ensemble, model_selection, decomposition, preprocessing, tree
from matplotlib import pyplot as plt

In [2]:
# 进一步探索泰坦尼克号数据
data = pd.read_csv('./data/train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
data.drop(['Cabin'],axis=1, inplace=True)

In [9]:
data.drop(['Name'],axis=1, inplace=True)

In [12]:
data.drop(['Ticket'],axis=1, inplace=True)

In [31]:
# 对性别和Embarked进行独热编码
en = preprocessing.OneHotEncoder()
en_data = en.fit_transform(data['Sex'].values.reshape(-1, 1)).toarray()
en_data

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

In [33]:
en.categories_

[array(['female', 'male'], dtype=object)]

In [35]:
# 对性别进行独热编码 在拼接到数据上
data = pd.concat([data, pd.DataFrame(en_data, columns=['female', 'male'])], axis=1)

In [36]:
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,female,male
0,1,0,3,male,22.0,1,0,7.2500,S,0.0,1.0
1,2,1,1,female,38.0,1,0,71.2833,C,1.0,0.0
2,3,1,3,female,26.0,0,0,7.9250,S,1.0,0.0
3,4,1,1,female,35.0,1,0,53.1000,S,1.0,0.0
4,5,0,3,male,35.0,0,0,8.0500,S,0.0,1.0

In [38]:
# Embarked 中又两个缺失值值 数量比较少 直接删掉
index = data[data['Embarked'].isnull()].index
data.drop(index=index, inplace=True)

In [44]:
# 对Embarked进行独热编码
en = preprocessing.OneHotEncoder()
en_data = en.fit_transform(data['Embarked'].values.reshape(-1, 1)).toarray()
data = pd.concat([data, pd.DataFrame(en_data, columns=['Embarked_C', 'Embarked_Q', 'Embarked_S'])], axis=1)

In [47]:
# 删除原来的Sex和Embarked列
data.drop(['Embarked', 'Sex'], axis=1, inplace=True)

In [48]:
data.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,female,male,Embarked_C,Embarked_Q,Embarked_S
0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,0.0,1.0
1,2.0,1.0,1.0,38.0,1.0,0.0,71.2833,1.0,0.0,1.0,0.0,0.0
2,3.0,1.0,3.0,26.0,0.0,0.0,7.9250,1.0,0.0,0.0,0.0,1.0
3,4.0,1.0,1.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,0.0,1.0
4,5.0,0.0,3.0,35.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,1.0

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    889 non-null float64
Survived       889 non-null float64
Pclass         889 non-null float64
Age            712 non-null float64
SibSp          889 non-null float64
Parch          889 non-null float64
Fare           889 non-null float64
female         889 non-null float64
male           889 non-null float64
Embarked_C     889 non-null float64
Embarked_Q     889 non-null float64
Embarked_S     889 non-null float64
dtypes: float64(12)
memory usage: 90.5 KB

In [62]:
# 只有age有缺失项 尝试使用随机森林回归进行填充
x_train = data.loc[data['Age'].notnull().index, data.columns != 'Age']
y_train = data.loc[data['Age'].notnull().index, 'Age']

x_test = data.loc[data['Age'].isnull().index, data.columns != 'Age']
y_test = data.loc[data['Age'].isnull().index, 'Age']

In [60]:
# 接下来开始使用随机森立回归开始插值  以Age为标签值 剩下的其他的作为特征列
clf = ensemble.RandomForestRegressor()

(891,)

In [61]:
data[data['Age'].notnull()]

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,female,male,Embarked_C,Embarked_Q,Embarked_S
0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,0.0,1.0
1,2.0,1.0,1.0,38.0,1.0,0.0,71.2833,1.0,0.0,1.0,0.0,0.0
2,3.0,1.0,3.0,26.0,0.0,0.0,7.9250,1.0,0.0,0.0,0.0,1.0
3,4.0,1.0,1.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,0.0,1.0
4,5.0,0.0,3.0,35.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,1.0
6,7.0,0.0,1.0,54.0,0.0,0.0,51.8625,0.0,1.0,0.0,0.0,1.0
7,8.0,0.0,3.0,2.0,3.0,1.0,21.0750,0.0,1.0,0.0,0.0,1.0
8,9.0,1.0,3.0,27.0,0.0,2.0,11.1333,1.0,0.0,0.0,0.0,1.0
9,10.0,1.0,2.0,14.0,1.0,0.0,30.0708,1.0,0.0,1.0,0.0,0.0
10,11.0,1.0,3.0,4.0,1.0,1.0,16.7000,1.0,0.0,0.0,0.0,1.0
11,12.0,1.0,1.0,58.0,0.0,0.0,26.5500,1.0,0.0,0.0,0.0,1.0
12,13.0,0.0,3.0,20.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,1.0
13,14.0,0.0,3.0,39.0,1.0,5.0,31.2750,0.0,1.0,0.0,0.0,1.0
14,15.0,0.0,3.0,14.0,0.0,0.0,7.8542,1.0,0.0,0.0,0.0,1.0
15,16.0,1.0,2.0,55.0,0.0,0.0,16.0000,1.0,0.0,0.0,0.0,1.0
16,17.0,0.0,3.0,2.0,4.0,1.0,29.1250,0.0,1.0,0.0,1.0,0.0
18,19.0,0.0,3.0,31.0,1.0,0.0,18.0000,1.0,0.0,0.0,0.0,1.0
20,21.0,0.0,2.0,35.0,0.0,0.0,26.0000,0.0,1.0,0.0,0.0,1.0
21,22.0,1.0,2.0,34.0,0.0,0.0,13.0000,0.0,1.0,0.0,0.0,1.0
22,23.0,1.0,3.0,15.0,0.0,0.0,8.0292,1.0,0.0,0.0,1.0,0.0
23,24.0,1.0,1.0,28.0,0.0,0.0,35.5000,0.0,1.0,0.0,0.0,1.0
24,25.0,0.0,3.0,8.0,3.0,1.0,21.0750,1.0,0.0,0.0,0.0,1.0
25,26.0,1.0,3.0,38.0,1.0,5.0,31.3875,1.0,0.0,0.0,0.0,1.0
27,28.0,0.0,1.0,19.0,3.0,2.0,263.0000,0.0,1.0,0.0,0.0,1.0
30,31.0,0.0,1.0,40.0,0.0,0.0,27.7208,0.0,1.0,1.0,0.0,0.0
33,34.0,0.0,2.0,66.0,0.0,0.0,10.5000,0.0,1.0,0.0,0.0,1.0
34,35.0,0.0,1.0,28.0,1.0,0.0,82.1708,0.0,1.0,1.0,0.0,0.0
35,36.0,0.0,1.0,42.0,1.0,0.0,52.0000,0.0,1.0,0.0,0.0,1.0
37,38.0,0.0,3.0,21.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,1.0
38,39.0,0.0,3.0,18.0,2.0,0.0,18.0000,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857.0,1.0,1.0,45.0,1.0,1.0,164.8667,1.0,0.0,1.0,0.0,0.0
857,858.0,1.0,1.0,51.0,0.0,0.0,26.5500,0.0,1.0,1.0,0.0,0.0
858,859.0,1.0,3.0,24.0,0.0,3.0,19.2583,1.0,0.0,0.0,0.0,1.0
860,861.0,0.0,3.0,41.0,2.0,0.0,14.1083,0.0,1.0,0.0,0.0,1.0
861,862.0,0.0,2.0,21.0,1.0,0.0,11.5000,0.0,1.0,0.0,0.0,1.0
862,863.0,1.0,1.0,48.0,0.0,0.0,25.9292,1.0,0.0,0.0,0.0,1.0
864,865.0,0.0,2.0,24.0,0.0,0.0,13.0000,0.0,1.0,1.0,0.0,0.0
865,866.0,1.0,2.0,42.0,0.0,0.0,13.0000,1.0,0.0,0.0,0.0,1.0
866,867.0,1.0,2.0,27.0,1.0,0.0,13.8583,1.0,0.0,0.0,0.0,1.0
867,868.0,0.0,1.0,31.0,0.0,0.0,50.4958,0.0,1.0,0.0,0.0,1.0
869,870.0,1.0,3.0,4.0,1.0,1.0,11.1333,0.0,1.0,0.0,0.0,1.0
870,871.0,0.0,3.0,26.0,0.0,0.0,7.8958,0.0,1.0,0.0,0.0,1.0
871,872.0,1.0,1.0,47.0,1.0,1.0,52.5542,1.0,0.0,0.0,0.0,1.0
872,873.0,0.0,1.0,33.0,0.0,0.0,5.0000,0.0,1.0,1.0,0.0,0.0
873,874.0,0.0,3.0,47.0,0.0,0.0,9.0000,0.0,1.0,1.0,0.0,0.0
874,875.0,1.0,2.0,28.0,1.0,0.0,24.0000,1.0,0.0,0.0,0.0,1.0
875,876.0,1.0,3.0,15.0,0.0,0.0,7.2250,1.0,0.0,0.0,0.0,1.0
876,877.0,0.0,3.0,20.0,0.0,0.0,9.8458,0.0,1.0,0.0,0.0,1.0
877,878.0,0.0,3.0,19.0,0.0,0.0,7.8958,0.0,1.0,1.0,0.0,0.0
879,880.0,1.0,1.0,56.0,0.0,1.0,83.1583,1.0,0.0,0.0,0.0,1.0
880,881.0,1.0,2.0,25.0,0.0,1.0,26.0000,1.0,0.0,0.0,0.0,1.0
881,882.0,0.0,3.0,33.0,0.0,0.0,7.8958,0.0,1.0,0.0,0.0,1.0
882,883.0,0.0,3.0,22.0,0.0,0.0,10.5167,1.0,0.0,0.0,0.0,1.0
883,884.0,0.0,2.0,28.0,0.0,0.0,10.5000,0.0,1.0,0.0,1.0,0.0
884,885.0,0.0,3.0,25.0,0.0,0.0,7.0500,0.0,1.0,0.0,0.0,1.0
885,886.0,0.0,3.0,39.0,0.0,5.0,29.1250,1.0,0.0,0.0,0.0,1.0
886,887.0,0.0,2.0,27.0,0.0,0.0,13.0000,0.0,1.0,0.0,0.0,1.0
887,888.0,1.0,1.0,19.0,0.0,0.0,30.0000,1.0,0.0,1.0,0.0,0.0
889,890.0,1.0,1.0,26.0,0.0,0.0,30.0000,0.0,1.0,NaN,NaN,NaN
890,891.0,0.0,3.0,32.0,0.0,0.0,7.7500,0.0,1.0,NaN,NaN,NaN