In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model, model_selection
from matplotlib import pyplot as plt

In [7]:
# 读取上次保存的数据
model_data = pd.read_csv('./data/model_data.csv')
test_data = pd.read_csv('./data/test_data.csv')

In [8]:
model_data.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0,0.049337,53.000000,0.000000,805.000000,0.500000,12.000000,0.0,1.000000,0.00000,0.000000
1,1,0.491558,44.543111,1.000000,0.327845,6045.913777,4.514370,0.0,1.514370,0.51437,1.456889
2,0,0.005643,69.000000,0.000000,0.315537,5000.000000,9.000000,0.0,1.000000,0.00000,1.000000
3,1,0.475414,32.620861,1.137418,0.779157,3800.000000,9.758279,0.0,1.758279,0.00000,1.516558
4,1,0.257248,43.000000,0.000000,0.626258,10731.000000,7.000000,0.0,4.000000,0.00000,4.000000

In [ ]:
# 分箱 IV  WOE
# IV = ∑(good% - bad%) * WOE 
# WOE = ln(good% - bad%) 
# good% 为整个箱子中优质客户占整个优质客户的比例 bad%为这个箱子中坏客户占整个坏客户的比例
# 等频分箱
pd.qcut(model_data['age'])